/* Random Quote Generator Styles */

body {
  /* no longer necessary, since colors are randomly chosen */
  /* background-color: #36b55c; */
  /* color: white; */
  font-family: 'Playfair Display', serif;
}

#quote-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
}

/* added new class to style category 'title' */
.category {
  text-align: center;
  width: 100%;
  /* no border colors, so it inherits the text color set in index.php */
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: 15px 0;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: lighter;
  text-transform: uppercase;

}

.quote {
  /* decreased font-size because of long quotes */
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

.quote:before, .quote:after {
  /* decreased font-size because of long quotes */
  font-size: 4rem;
  /* changed the line-height slightly, so the 'quote after' is not too close to the upper lines */
  line-height: 2rem;
  /* line-height: 2.5rem; */
  position: absolute;
}

.quote:before {
  content: "“";
  top: .25em;
  left: -.5em;
}

.quote:after {
  content: "”";
  bottom: -.1em;
  margin-left: .1em;
  position: absolute;
}

.source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}

.source:before {
  content: "—";
}

.citation {
  font-style: italic;
}

.citation:before {
  content: ", ";
  font-style: normal;
}

.year:before {
  content: ", ";
  font-style: normal;
}

#loadQuote {
  position: fixed;
  width: 12em;
  display: inline-block;
  left: 50%;
  margin-left: -6em;
  bottom: 150px;
  border-radius: 4px;
  /* removed border color, so it inherits the text color set in index.php */
  border: 2px solid;
  /* colors should be inherited, because of the changing background & text colors */
  color: inherit;
  background-color: inherit;
  padding: 15px 0;
  transition: .5s ;
}

#loadQuote:hover {

  background-color: rgba(255,255,255,.25);
} 

#loadQuote:focus {
  outline: none;
}

@media (max-width: 420px) {
  .quote {
    font-size: 2.5rem;
  }
  .quote:before, .quote:after {
    font-size: 3rem;
  }
  .source {
    font-size: 1rem;
  }
}
